*, p {
  font-family: "roboto" , arial , helvetica , sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  box-sizing: border-box;
}

#container {
  width: inherit;
  height: inherit;
  background-color: #FFFFF7;
  font-family: Arial , helvetica ,sans-serif;
  font-size: 1em;
}
#container header {
  width: inherit;
  height: 60px;
  background-color: #483123;
  box-shadow: 0px 0px 10px #000;
}
#container header #logocontainer {
  float: left;
  height: inherit;
  padding-left: 20px;
  margin: 0;
  background-color: #483123;
}
#container header #logocontainer img {
  position: absolute;
  height: 110px;
  width: 110px;
}
#container header #navbar {
  height: inherit;
  margin-right: 6%;
  float: right;
}
#container header #navbar ul {
  height: 100%;
}
#container header #navbar ul li {
  list-style-type: none;
  background-color: #483123;
  height: inherit;
  display: inline-block;
  font-family: "roboto" , arial ,helvetica ,sans-serif;
  float: left;
  padding: 15px;
  padding-top: 20px;
}
#container header #navbar ul li a {
  text-decoration: none;
  color: #FFFFF7;
  text-transform: uppercase;
  -webkit-transition: linear .2s;
  -moz-transition: linear .2s;
  -o-transition: linear .2s;
  transition: linear .2s;
  -moz-text-shadow: 0px 0px 2px #2A2A2A;
  -webkit-text-shadow: 0px 0px 2px #2A2A2A;
  -o-text-shadow: 0px 0px 2px #2A2A2A;
  -ms-text-shadow: 0px 0px 2px #2A2A2A;
  text-shadow: 0px 0px 2px #2A2A2A;
}
#container header #navbar ul li a:hover {
  color: #E29C45;
}
#container #bannerimg {
  height: 580px;
  width: 100%;
  background-image: url("../img/imageedit_1_2792461179.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#container #bannerimg #intro {
  width: inherit;
  height: inherit;
  margin: 0;
  text-align: center;
  color: #FFFFF7;
  line-height: 380%;
  -ms-text-shadow: 0px 0px 15px #000;
  -webkit-text-shadow: 0px 0px 15px #000;
  -moz-text-shadow: 0px 0px 15px #000;
  -o-text-shadow: 0px 0px 15px #000;
  text-shadow: 0px 0px 15px #000;
  opacity: 0.3;
  -webkit-transition: linear 1s;
  -ms-transition: linear 1s;
  -o-transition: linear 1s;
  -moz-transition: linear 1s;
  transition: linear 1s;
}
#container #bannerimg #intro:hover {
  opacity: 1;
}
#container #bannerimg #intro h2 {
  padding-top: 15%;
  font-size: 350%;
}
#container #bannerimg #intro h3 {
  font-size: 180%;
}
#container .welcomeintro {
  /* border: 1px solid black; */
  padding: 0;
  height: 500px;
  width: inherit;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont {
  height: inherit;
  width: inherit;
  /* border:1px solid red; */
  padding: 15px;
  padding-top: 50px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome {
  width: 40%;
  margin-left: 40px;
  float: left;
  background-image: url("../img/pexels-photo-349609.jpeg");
  -ms-box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  -o-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome p {
  display: block;
  font-size: 2em;
  color: #FFFFF7;
  -ms-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  -moz-text-shadow: 0px 0px 5px #000;
  -o-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
  text-align: center;
  font-size: 2.5em;
  margin-top: 120px;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome a {
  display: block;
  text-decoration: none;
  color: #2a2a2a;
  height: 50px;
  padding: 10px;
  padding-top: 13px;
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 90px;
  width: 120px;
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
  -ms-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  -moz-text-shadow: 0px 0px 5px #000;
  -o-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #imgWelcome a:hover {
  border: 3px solid #483123;
  text-shadow: none;
  color: #483123;
  font-weight: bold;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome {
  width: 40%;
  padding: 10px;
  padding-top: 0;
  margin-right: 90px;
  margin-top: 90px;
  float: right;
  text-align: center;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome h1 {
  text-align: center;
  margin-top: 0px;
  font-size: 2.5em;
}
#container .welcomeintro .imgWelcomeandtxtwelcomecont #txtwelcome .txtintro > p {
  text-align: justify;
  font-size: 140%;
  line-height: 140%;
}
#container footer#footercontainer {
  padding: 0;
  width: inherit;
  font-family: "roboto" , arial , sans-serif;
  height: 250px;
  background-color: #291a12;
  color: white;
}
#container footer#footercontainer .footercontent {
  margin: inherit;
  height: 249px;
}
#container footer#footercontainer .footercontent .aboutinfocontainer {
  float: left;
  height: inherit;
  width: 40%;
  line-height: 150%;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname {
  margin-top: 29px;
  background-color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname span {
  background-color: inherit;
  font-size: 1.4em;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #location {
  background-color: inherit;
  margin-bottom: 0.90em;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #location span {
  font-size: 0.90em;
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber {
  background-color: inherit;
  margin-bottom: 0.90em;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber span {
  font-size: 0.90em;
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #email span {
  background-color: inherit;
  color: inherit;
}
#container footer#footercontainer .footercontent .aboutinfocontainer #companyname, #container footer#footercontainer .footercontent .aboutinfocontainer #location, #container footer#footercontainer .footercontent .aboutinfocontainer #phonenumber, #container footer#footercontainer .footercontent .aboutinfocontainer #email {
  margin-left: 70px;
}
#container footer#footercontainer .footercontent .footernavbar {
  float: right;
  width: 60%;
  height: 100%;
  padding-top: 25px;
}
#container footer#footercontainer .footercontent .footernavbar .links {
  margin: 0;
  background-color: #291a12;
  width: 40%;
  float: left;
}
#container footer#footercontainer .footercontent .footernavbar .links ul {
  height: inherit;
  font-size: .9em;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li {
  background-color: #291a12;
  list-style-type: none;
  line-height: 150%;
  font-size: 120%;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li a {
  color: #FFFFF7;
  -webkit-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  text-decoration: none;
}
#container footer#footercontainer .footercontent .footernavbar .links ul li a:hover {
  color: #E29C45;
}
#container footer#footercontainer .footercontent .footernavbar .findus {
  float: right;
  width: 60%;
}
#container footer#footercontainer .footercontent .footernavbar .findus h3 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1.2em;
}
#container footer#footercontainer .footercontent .footernavbar .findus a {
  text-decoration: none;
  font-size: .9;
  color: #FFFFF7;
  -webkit-transition: ease-in 0.2s;
  -ms-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -moz-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
}
#container footer#footercontainer .footercontent .footernavbar .findus a:hover {
  color: #E29C45;
}
#container footer#footercontainer #copyrightcontainer {
  height: 50px;
  width: inherit;
  text-align: center;
  background-color: #150e0a;
  -ms-text-shadow: 0px 0px 5px #2a2a2a;
  -webkit-text-shadow: 0px 0px 5px #2a2a2a;
  -moz-text-shadow: 0px 0px 5px #2a2a2a;
  -o-text-shadow: 0px 0px 5px #2a2a2a;
  text-shadow: 0px 0px 5px #2a2a2a;
  color: #FFFFF7;
  margin: 0;
}
#container footer#footercontainer #copyrightcontainer p {
  margin-top: 13px;
  display: inline-block;
  background-color: inherit;
}

/*contact us page specific style*/
.contactusinfo {
  width: inherit;
  height: 1050px;
  padding: 10px;
}
.contactusinfo #contactcontainer {
  width: 97%;
  margin: 0 auto;
  margin-top: 2%;
  height: 1000px;
  text-align: center;
}
.contactusinfo #contactcontainer .floatright {
  float: right;
  margin: 10px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 140%;
  padding: 30px;
  height: 45%;
  -ms-box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-box-shadow: 0px 0px 10px #2a2a2a;
  -moz-box-shadow: 0px 0px 10px #2a2a2a;
  -o-box-shadow: 0px 0px 10px #2a2a2a;
  box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
.contactusinfo #contactcontainer .floatright h2 {
  text-align: center;
  text-transform: capitalize;
  margin-top: 100px;
  font-size: 200%;
  margin-bottom: 10%;
}
.contactusinfo #contactcontainer .floatright p {
  text-align: center;
  font-weight: bold;
}
.contactusinfo #contactcontainer .floatright p span {
  font-weight: normal;
}
.contactusinfo #contactcontainer #address {
  margin-right: 45px;
}
.contactusinfo #contactcontainer #contactnumber {
  text-align: center;
}
.contactusinfo #contactcontainer #Email {
  margin-left: 20px;
}
.contactusinfo #contactcontainer #location {
  width: 100%;
  clear: both;
  margin: 0 auto;
  height: 430px;
  margin-top: 100px;
  -ms-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -o-box-shadow: 0px 0px 5px #000;
  box-shadow: 0px 0px 5px #000;
}
.contactusinfo #contactcontainer #location h2 {
  text-align: center;
  text-transform: capitalize;
  height: 50px;
  width: 100%;
  font-size: 200%;
  font-weight: bold;
  padding: 10px;
}
.contactusinfo #contactcontainer #location #googlemap {
  width: 100%;
  height: 100%;
}

/* about us stylesheet */
#aboutuscontainer {
  width: inherit;
  margin: 0;
  padding: 15px;
  height: auto;
}
#aboutuscontainer #history {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 100px;
}
#aboutuscontainer #history #historyinfo {
  width: 100%;
  height: inherit;
  padding: 5px;
  text-align: center;
}
#aboutuscontainer #history #historyinfo .historytitle {
  font-size: 2.5em;
  margin-top: 10px;
  margin-bottom: 35px;
}
#aboutuscontainer #history #historyinfo p {
  font-size: 1em;
  line-height: 140%;
}
#aboutuscontainer #missionandvission {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid black;
  margin-bottom: 100px;
  height: 300px;
}
#aboutuscontainer #missionandvission #mission {
  float: left;
}
#aboutuscontainer #missionandvission #vision {
  float: right;
}
#aboutuscontainer #missionandvission #mission, #aboutuscontainer #missionandvission #vision {
  width: 50%;
  height: inherit;
  border: 1px solid black;
  padding: 10px;
}
#aboutuscontainer #missionandvission #mission h3, #aboutuscontainer #missionandvission #vision h3 {
  text-align: center;
  font-size: 200%;
  margin-bottom: 30px;
}
#aboutuscontainer #missionandvission #mission p, #aboutuscontainer #missionandvission #vision p {
  text-align: center;
  font-size: 1.2em;
}
#aboutuscontainer #members {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
}
#aboutuscontainer #members #memberstitle {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 50px;
}
#aboutuscontainer #members #membersCatalog {
  width: 98%;
  margin: 0 auto;
}
#aboutuscontainer #members #membersCatalog .compartment {
  width: 100%;
  height: 450px;
}
#aboutuscontainer #members #membersCatalog .compartment figure {
  width: 30%;
  height: 75%;
  margin-top: 50px;
  border: 1px solid black;
  float: left;
  border-radius: 100%;
  -ms-box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-box-shadow: 0px 0px 10px #2a2a2a;
  -moz-box-shadow: 0px 0px 10px #2a2a2a;
  -o-box-shadow: 0px 0px 10px #2a2a2a;
  box-shadow: 0px 0px 10px #2a2a2a;
  -webkit-transition: ease-in 0.5s;
  -ms-transition: ease-in 0.5s;
  -o-transition: ease-in 0.5s;
  -moz-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}
#aboutuscontainer #members #membersCatalog .compartment figure:hover {
  -ms-box-shadow: 0px 0px 20px #2a2a2a;
  -webkit-box-shadow: 0px 0px 20px #2a2a2a;
  -moz-box-shadow: 0px 0px 20px #2a2a2a;
  -o-box-shadow: 0px 0px 20px #2a2a2a;
  box-shadow: 0px 0px 20px #2a2a2a;
}
#aboutuscontainer #members #membersCatalog .compartment figure:first-child {
  margin-left: 16%;
}
#aboutuscontainer #members #membersCatalog .compartment figure:last-child {
  margin-left: 5%;
}

/* menu page style */
#menucontainer {
  width: 100%;
  border: 1px solid black;
  height: 2000px;
}
#menucontainer .border {
  border: 1px solid black;
}
#menucontainer #drinkscontainer {
  width: inherit;
  height: 50%;
  border-bottom: 1px solid black;
}
#menucontainer #drinkscontainer #hotdrinks {
  height: 400px;
  width: 300px;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice h3 {
  float: left;
}
#menucontainer #drinkscontainer #hotdrinks .titleandprice h4 {
  float: right;
  margin-right: 20px;
}
#menucontainer #drinkscontainer #hotdrinks ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
}
#menucontainer #drinkscontainer #hotdrinks ul:last-child {
  margin-left: 15%;
}
#menucontainer #drinkscontainer #icedcoffee {
  width: 342px;
  height: 300px;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #icedcoffee h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 5px;
}
#menucontainer #drinkscontainer #icedcoffee .titleandprice h4:last-child {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 70%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon .prices12oz {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #icedcoffee .icecoffecon .prices16oz {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #frapuccino {
  width: 335px;
  height: 300px;
  border: 1px solid black;
  float: left;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #frapuccino h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 15px;
}
#menucontainer #drinkscontainer #frapuccino .titleandprice h4:last-child {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 70%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon .prices12oz {
  margin-left: 15px;
}
#menucontainer #drinkscontainer #frapuccino .frapuccinocon .prices16oz {
  margin-left: 10px;
}
#menucontainer #drinkscontainer #signaturedrinks {
  width: 370px;
  height: 550px;
  border: 1px solid black;
  float: right;
  margin: 0;
  padding: 10px;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #signaturedrinks h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice {
  height: 30px;
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4 {
  float: right;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4:first-child {
  margin-right: 15px;
  margin-left: 15px;
}
#menucontainer #drinkscontainer #signaturedrinks .titleandprice h4:last-child {
  margin-left: 5px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 88%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon .prices12oz {
  margin-left: 15px;
  margin-right: 5px;
}
#menucontainer #drinkscontainer #signaturedrinks .signaturedrinkscon .prices16oz {
  margin-left: 10px;
  margin-right: 5px;
}
#menucontainer #drinkscontainer #italiansoda {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  clear: left;
  float: left;
  padding-top: 50px;
}
#menucontainer #drinkscontainer #italiansoda h3 {
  width: 100%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon {
  border: 1px solid black;
  margin-top: 30px;
  width: 100%;
  padding: 0px;
  height: 88%;
  margin-top: 10px;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon ul {
  float: left;
  list-style-type: none;
  line-height: 140%;
  border: 1px solid black;
}
#menucontainer #drinkscontainer #italiansoda .italiansodacon .price {
  margin-left: 35%;
}

/* events styles */
#eventscontainer {
  width: 100%;
  border: 1px solid black;
  height: auto;
}
#eventscontainer div.eventstitle {
  width: 100%;
  height: 70px;
  border: 1px solid black;
  margin-top: 100px;
  text-align: center;
}
#eventscontainer div.eventstitle h1 {
  margin: 0;
  height: inherit;
}
#eventscontainer #centering {
  width: 95%;
  height: 700px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
#eventscontainer #centering .separator {
  height: 50%;
  padding: 10px;
}
#eventscontainer #centering .separator .eventsimg {
  width: 40%;
  height: 90%;
  border: 1px solid black;
  float: left;
  clear: right;
  margin-right: 5%;
}
#eventscontainer #centering .separator .eventsimg figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/pexels-photo-349609.jpeg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
#eventscontainer #centering .separator .eventsimg figure a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #2A2A2A;
  height: 50px;
  padding: 10px;
  padding-top: 13px;
  border: 3px solid white;
  margin: 0 auto;
  margin-top: 40%;
  width: 120px;
  -ms-box-shadow: 0px 0px 5px #2a2a2a;
  -webkit-box-shadow: 0px 0px 5px #2a2a2a;
  -moz-box-shadow: 0px 0px 5px #2a2a2a;
  -o-box-shadow: 0px 0px 5px #2a2a2a;
  box-shadow: 0px 0px 5px #2a2a2a;
  -ms-text-shadow: 0px 0px 5px #000;
  -webkit-text-shadow: 0px 0px 5px #000;
  -moz-text-shadow: 0px 0px 5px #000;
  -o-text-shadow: 0px 0px 5px #000;
  text-shadow: 0px 0px 5px #000;
  -webkit-transition: linear 0.5s;
  -ms-transition: linear 0.5s;
  -o-transition: linear 0.5s;
  -moz-transition: linear 0.5s;
  transition: linear 0.5s;
}
#eventscontainer #centering .separator .eventsimg figure a:hover {
  border: 3px solid #483123;
  text-shadow: none;
  color: #483123;
  font-weight: bold;
}
#eventscontainer #centering .separator .description {
  border: 1px solid black;
  float: left;
  width: 55%;
  height: 90%;
  padding-top: 0px;
}
#eventscontainer #centering .separator .description h3 {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
#eventscontainer #centering .separator .description .informationtxt {
  border: 1px solid black;
  height: 80%;
  padding: 10px;
}

/*# sourceMappingURL=coffteaSpecific.css.map */
